
.form-container {
    text-align: center;
    margin: auto;
}

.form-part {
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.form-group h4 {
    text-align: left;
}


.input-wrapper {
    display: flex;
    align-items: center;  /* This ensures vertical alignment between label and input */
    margin-bottom: 8px;   /* Add some space between each input */
}

.input-label {
    display: block;
    text-align: left;
    padding-right: 10px;
    width: 300px;  /* Adjust this based on your longest label */
    margin-right: 20px; /* Space between label and input */
}


.amplify-text-field {
    flex-grow: 1; /* Allow the input to take up available space */
}

.amplify-text-field input {
    width: 600px;
    max-width: 100%;
}
