.login-button-container {
    position: absolute;
    top: 20px;
    right: 50px;
    padding-bottom: 30px;
}

.form-container {
    text-align: center;
    margin: auto;
}

.form-part {
    margin-bottom: 10px;
}


.form-group {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.form-group h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}


.form-group h4 {
    text-align: left;
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.input-label {
    display: block;
    text-align: left;
    padding-right: 10px;
    width: 300px;
    margin-right: 20px;
}


.amplify-text-field {
    flex-grow: 1; /* Allow the input to take up available space */
}

.amplify-text-field input {
    width: 600px;
    max-width: 100%;
}

.lighter-text {
    font-weight: 500;
}